<!-- {% extends "layout.html" %} {% block content %}
<div class="form-container">
  <h1>Register</h1>
  <form method="POST" action="{{ url_for('register') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-label") }} {% if form.username.errors
      %} {{ form.username(class="form-control is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.username.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.username(class="form-control") }} {% endif %}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-label") }} {% if form.password.errors
      %} {{ form.password(class="form-control is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.password(class="form-control") }} {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-success btn-submit") }}
    </div>
  </form>
  <div class="login-links">
    <p>
      Already have an account? <a href="{{ url_for('login') }}">Login here</a>
    </p>
  </div>
</div>
{% endblock content %} -->

{% extends "layout.html" %} {% block content %}
<div class="form-container">
  <h1>Register - Step 1</h1>
  <form method="POST" action="{{ url_for('register') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-label") }} {% if form.username.errors
      %} {{ form.username(class="form-control is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.username.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.username(class="form-control") }} {% endif %}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-label") }} {% if form.email.errors %} {{
      form.email(class="form-control is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.email(class="form-control") }} {% endif %}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-label") }} {% if form.password.errors
      %} {{ form.password(class="form-control is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.password(class="form-control") }} {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-success btn-submit") }}
    </div>
  </form>
  <div class="login-links">
    <p>
      Already have an account? <a href="{{ url_for('login') }}">Login here</a>
    </p>
  </div>
</div>
{% endblock content %}
